# Deployment Files
Dockerrun.aws.json
.elasticbeanstalk/

# File Types
*.db
*.env
*.htpasswd
*.log
*.notes
*.pem
*.pyc
*.zip

# Utility or temporary files not necessary for the app
app/_*

db_auth/
db_main/
db_secondary
data_archive/
data_chats/
data_uploads/
data_attachments/

# Dev Folders
myenv/
.vscode/

# React.JS (Frontend Files)

# dependencies
.pnp.js


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
node_modules
