# File Types
*.env
*.pem
*.pyc
*.notes
*.log
*.htpasswd

# Utility or temporary files not necessary for the app
app/_*

# Folders
chats/
chroma/
myenv/
Sample Documents/
data/
archive/
uploads/

# React.JS (Frontend Files)

# dependencies
.pnp.js



# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
