#01_files.config
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50_clean_pip_cache.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      rm -rf /tmp/pip_cache/*
      rm -rf /tmp/pip-tmp/*
      find /root/.cache/pip -type f -delete
      find /tmp -type f -name "*.whl" -delete