:root {
  /* main colors */
  --COLOR_MAIN_1: #000000;
  --COLOR_MAIN_2: #1D1D1D;
  --COLOR_FONT_1: #000000;
  --COLOR_ACCENT_1: #29affd;
  --COLOR_FONT_1: rgb(255, 255, 255);

  --COLOR_DELETE: #8C0002;
  --COLOR_PUSH: #0b4400;
  --COLOR_DOWNLOAD: #0044ff;

  /* dimension attributes */
  --PADDING_STANDARD: 10px;
  --PADDING-LARGE: 15px;
  --PADDING_SMALL: 5px;

  --MARGIN_STANDARD: 20px;
  --MARGIN_SMALL: 10px;
  --MARGIN_SMALLEST: 5px;

  --WIDTH_ICON_STANDARD: 32px;
  --HEIGHT_ICON_STANDARD: 32px;

  /* debugging colors */
  --COLOR_DEBUG: #ff00ff;
  --COLOR_DEBUG_2: #00ff00;
}

* {
  margin: 0;
  padding: 0;
  color: var(--COLOR_FONT_1);
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans';
}

/* Layer 0 */
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container_parent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


/* Layer 1 */
.L1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
#L1S1 {
  flex: 0 0 15%;
  max-width: 15%;
}
#L1S3 {
  flex: 0 0 35%;
  max-width: 35%;
}



/* Layer 2, Middle Bar */
.input {
  align-self: flex-end;
}
.output {
  box-sizing: border-box;
  width: 100%;

  display: flex;
  flex-direction: column;

  overflow: auto;
  flex-grow: 1; /* Take up remaining height */
  text-align: left;

  font-size: large;

  overflow-y: auto;
}

.chat-bubble {
  width: 80%;
  box-sizing: border-box;
  margin: var(--MARGIN_SMALLEST);
  padding: var(--PADDING_STANDARD);
  border-radius: var(--PADDING_STANDARD);
}

.input {
  background-color: #BFDBFE;
  color: black;
}
.answer {
  display: flex;
  background-color: #18181B;
  color: white;
}
.context {
  display: flex;
  background-color: #18181B;
  color: white;
}


.download_context {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--COLOR_FONT_1);
  padding: var(--PADDING-SMALL);
  padding-left: var(--PADDING-LARGE);
}

#userinput {
  box-sizing: border-box;
  width: 100%;
  font-size: large;
}

/* Layer 3, Right Bar */


#uploadssection{
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;

}

#uploadstitle{
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.uploadsbuttons {
  box-sizing: border-box;
  width: 100%;
  display: flex;
}


#databasesection{
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;

}
#databasetitle{
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

#pushbtn{
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--COLOR_PUSH);
}

/* #downloaddbbutton{
  flex: 1;
  background-color: var(--COLOR_DOWNLOAD);
  color: white;
}

#deletedbbutton{
  flex: 1;
  background-color: var(--COLOR_DELETE);
  color: white;
} */

/* Embedded Images */

.icon {
  width: var(--WIDTH_ICON_STANDARD);
  height: var(--HEIGHT_ICON_STANDARD);
  cursor: pointer;
}
