:root {
  /* dimension attributes */
  --PADDING_STANDARD: 10px;
  --PADDING-LARGE: 15px;
  --PADDING_SMALL: 5px;

  --MARGIN_STANDARD: 20px;
  --MARGIN_SMALL: 10px;
  --MARGIN_SMALLEST: 5px;

  --WIDTH_ICON_STANDARD: 32px;
  --HEIGHT_ICON_STANDARD: 32px;

  /* debugging colors */
}

* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans';
}

/* Layer 0 */
.container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container_parent {
  height: 100%;
  width: 100%;
}



.output {
  width: 75%;
  text-align: left;
  font-size: large;
  align-self: center;
}

.chat-bubble {
  width: 90%;
  box-sizing: border-box;
  margin: var(--MARGIN_SMALLEST);
  padding: var(--PADDING_STANDARD);
  border-radius: var(--PADDING_STANDARD);
}

.input {
  align-self: flex-end;
  text-align: end;
  @apply bg-primary;
  @apply text-text;
  @apply shadow-md;
}
.answer {
  @apply bg-secondary;
  @apply text-text;
  @apply shadow-md;
}
.input-icon-container {
  justify-items: end;
}
.answer-icon-container {
  justify-items: start;
}
.input-icon:hover {
  @apply bg-primary_light;
}
.answer-icon:hover {
  @apply bg-secondary_light;
}



.download_context {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: var(--PADDING-SMALL);
  padding-left: var(--PADDING-LARGE);
}

#userinput {
  box-sizing: border-box;
  font-size: large;
}

/* Layer 3, Right Bar */


.icon {
  width: var(--WIDTH_ICON_STANDARD);
  height: var(--HEIGHT_ICON_STANDARD);
  cursor: pointer;
}
