<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud RAG</title>
    <!-- <link rel="stylesheet" href="/static/styles.css"> -->
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="../static/images/favicon.ico">

</head>
<body>
    <!-- Banner -->
    <!-- <div class="banner">
        Cloud RAG UI - Draft Only. Do Not Use.
    </div> -->
    <!-- Hidden element - file open window -->
    <input type="file" id="fileInput" style="display: none;" multiple />
    <div class="container">
        <!-- Left Pane -->
        <div class="L1" id="L1S1">
            <div id="title">
                Cloud RAG
            </div>
            <div id="version">v0.2</div>
            <div id="links"><br>
                <a href="https://github.com/arunwidjaja/cloud-RAG" target="_blank">
                    <img class="icon" src="../static/images/github_light.svg"/>
                  </a>
            </div>
            <div id="auth">
                (WIP) Auth/Collections
                <!-- <button class="devtools" id="dev_create_input">Create input bubble</button>
                <button class="devtools" id="dev_create_response">Create response bubble</button>
                <button class="devtools" id="dev_create_context">Create context bubble</button> -->
            </div>
            <div id="shortcuts">
                <button class="shortcut_button" id="summarize">Summarize Selected Documents</button>
                <button class="shortcut_button" id="summarize_all">Summarize All Documents</button>
                <button class="shortcut_button" id="highlights">Retrieve Themes</button>
                <button class="shortcut_button" id="sentiment">(WIP) Analyze Sentiment</button>
            </div>
            <div id="log">
            </div>
        </div>
        <!-- Middle Pane -->
        <div class="L1" id="L1S2">
            <div id="conversation" class="output"></div>
            <textarea id="userinput" oninput="auto_expand(this)"></textarea>
        </div>
        <!-- Right Pane -->
        <div class="L1" id="L1S3">
            <div id="uploadssection">
                <div id="uploadstitle">
                    Uploaded Files
                </div>
                <div class="filelist" id="uploadslist">
                    <ul id="uploads-list-ul">
                        <li>Searching for files. Please wait...</li>
                    </ul>
                </div>
                <button id="pushbtn">Push Uploads to DB</button>
                <div class="uploadsbuttons">
                    <button id='upload-btn' class="btn">Upload Files</button>
                    <button id='deleteuploadsbtn'class="btn">Clear Selected Uploads</button>
                </div>
            </div>
            <div id="databasesection">
                <div id="databasetitle">
                    Database Files
                </div>
                <div class="filelist" id="databaselist">
                    <ul id="file-list-ul">
                        <li>Searching for files in the DB. Please wait...</li>
                    </ul>
                </div>
                <div class="databasebuttons">
                    <button class="btn" id="downloaddbbutton">Download Selected Files from DB</button>
                    <button class="btn" id="deletedbbutton">Delete Selected Files from DB</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="/static/UI.js"></script> -->
    <!-- <script src="/static/API.js"></script> -->
    <script src="../static/UI.js"></script>
    <script src="../static/API.js"></script>
</body>
</html>
