<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cloud RAG</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container" id="resizable-container">
        <button class="button" id="upload-btn">Upload Files (TODO)</button>
        <button class="button" id="push-to-DB-btn">Push Files to DB</button>
        <div>
            <label for="query-input">Enter your query:</label><br>
            <textarea id="query-input" class="text-input" placeholder="Type your query here" rows="1" style="overflow: hidden; resize: none;"></textarea>
        </div>
        <button class="button" id="submit-btn">Submit Query</button>
        <div class="response-box" id="response-box">
            What is your question?
        </div>
        <div class="resize-handle" id="resize-handle"></div>
    </div>
    <div class="file-list" id="file-list">
        <h3>Files in Database</h3>
        <ul id="file-list-ul">
            <li>Searching for files. Please wait...</li>
        </ul>
        <button class="button", id="delete-btn">Delete selected files</button>
    </div>
    <script src="/static/API.js"></script>
</body>
</html>
